<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="styles.css">
    <title>VueTodo by Brandi Bailey</title>

    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>

</head>
<body>
    <section id="todos">
        <nav>
            <h2>VueToDo</h2>
                <input class="todo-textfield" 
                    type="text" 
                    placeholder="Add New Todo" 
                    v-model="newTodo" 
                    v-on:keyup.enter="addTodo" 
                >
        </nav>
        <div class="todo-list">
            <div class="todo-items">
                <ul>
                <li :class="todo.isCompleted ? 'is-completed' : '' "
                v-for="(todo) in todos" 
                @click="markComplete(todo)">{{ todo.name }} <div><button @click="deleteTodo(todo)" class="delete">X</button></div></li>
            </ul>
            </div>
        </div>
    </section>
</body>
</html>